.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
}

.button {
  padding: 10px 20px;
  border: 1px solid #7c9d96;
  border-radius: 20px;
  background: white;
  color: #7c9d96;
  cursor: pointer;
}

.button:hover,
.active {
  background-color: #7c9d96;
  color: white;
}